* {
  margin: 0;
  padding: 0;
}
canvas {
  display:flex;
padding:0 200px;
/* margin: 0 auto; */
}
#page-wrap{
  display: flex;
  margin: 0 auto;
  width:70vw;
}

p{
  margin:20px 0;
  text-align:center;
}

#divVid{
  width:70vw;
  margin: 0 auto;
}
